<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests suite">
    <listeners>
        <listener class-name="utility.Listener"/>
    </listeners>
    <test verbose="2" name="C:/SoftServe/EasyRestTestTraining">
        <classes>
            <class name="tests.VerifyDestinationTownTest"></class>

        </classes>
    </test>
</suite>